<div class="contentProgressPage">
  <div class="row">
    <div class="col-lg-4" data-drop="true">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title text-center ">YAPILACAKLAR</h1>
        </div>
        <div class="panel-body" id="sortable1" ng-class="{connectedSortable: isProjectOwner}"
             style="min-height:{{isProjectOwner ? '500px;' : '549px;'}}">
          <div class="well ui-state-default" ng-repeat="(key, t) in tasks">
            <p class="lead text-center"><strong>{{t.taskName}}</strong></p>
            <p><em>{{t.detail}}</em></p>
            <i class="fa fa-users fa-fw"></i> <strong>Ekip</strong>
            <ul ng-repeat="tm in t.members">
              <li>{{tm}}</li>
            </ul>
            <i class="fa fa-clock-o fa-fw"></i> <strong>Bitiş</strong>
            {{t.projectEndDate}}
            <button ng-click="deleteTask(key, t.taskName)" class="btn btn-danger pull-right btn-xs" ng-if="isProjectOwner">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="panel-footer" ng-if="isProjectOwner">
          <a href="javascript:;" data-toggle="modal" data-target="#myModal2" class="btn btn-default btn-sm btn-block">
            <i class="fa fa-plus fa-fw"></i>YENİ GÖREV
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h1 class="panel-title text-center">DEVAM EDENLER</h1>
        </div>
        <div class="panel-body connectedSortable" id="sortable2" style="min-height:549px;">
          
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title text-center">TAMAMLANDI</h1>
        </div>
        <div class="panel-body connectedSortable" id="sortable3" style="min-height:549px;">
            
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="frm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Create Task Item</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="taskname">Görev adı</label>
            <input type="text" ng-model="params.taskName" class="form-control" id="taskname" required>
          </div>

          <div class="form-group">
            <label for="taskDetail">Görev Açıklaması</label>
            <textarea rows="3" ng-model="params.taskDetail" class="form-control" id="taskDetail" required></textarea>
          </div>

          <div class="form-group">
            <label for="taskmembers">Üyeler</label>
            <select ng-options="item as item for item in users" multiple="" ng-model="params.members"
                    id="taskmembers" class="form-control" required></select>
          </div>

          <div class="form-group">
            <label for="projectEndDate"><i class="fa fa-calendar fa-fw"></i> Bitiş Zamanı </label>
            <datepicker date-format="dd-MM-yyyy">
              <input ng-model="params.projectEndDate" type="text" id="projectEndDate" class="form-control" required/>
            </datepicker>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
          <button type="button" id="addNewTaskBtn" class="btn btn-primary" ng-click="addNewItem(params)" ng-disabled="frm.$invalid">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#addNewTaskBtn").on("click", function () {
      $("#myModal2").modal('hide');
    });

    $( "#sortable1, #sortable2, #sortable3").sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();

  });
</script>