<div class="jumbotron">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active">
      <a href="#home" class="makePreventDefault" role="tab" data-toggle="tab">
        Login
      </a>
    </li>
    <li role="presentation">
      <a href="#profile" class="makePreventDefault" role="tab" data-toggle="tab">
        Register
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <br>
    <div role="tabpanel" class="tab-pane active" id="home">
      <h4 class="text-center">Selam</h3>
      <form role="form" name="frm1">
        <p class="form-group">
          <input required name="email" placeholder="email" type="email" ng-model="email" class="form-control" />
        </p>
        <p class="form-group">
          <input required name="pass" placeholder="şifre" type="password" ng-model="pass" class="form-control" />
        </p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-init="rememberMe = true" ng-model="rememberMe" ng-checked="rememberMe"> Hatırla
          </label>
        </div>
        <p>
          <button  class="btn btn-primary btn-block" ng-click="passwordLogin(email, pass, rememberMe)" ng-disabled="frm1.$invalid">  
            Giriş
          </button>

        </p>
      </form>
      <a href="" data-toggle="modal" data-target="#myModal" class="makePreventDefault btn btn-default pull-right">
        <span class="glyphicon glyphicon-question-sign"></span>
      </a>
      <!-- <p ng-show="err" class="bg-danger">{{err}}</p> -->
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <h4 class="text-center">Hoşgeldin</h3>
      <form role="form" name="frm2">
        <p class="form-group">
          <input required name="userName" placeholder="kullanıcı adı"  type="text" ng-model="userName" class="form-control" />
        </p>
        <p class="form-group">
          <input required name="email" placeholder="email"  type="email" ng-model="email" class="form-control" />
        </p>
        <p class="form-group">
          <input required name="pass" placeholder="şifre"  type="password" ng-model="pass" class="form-control" />
        </p>
        <p class="form-group">
          <input required name="confirm" placeholder="şifre tekrar" type="password" ng-model="confirm" class="form-control" />
        </p>
        <p>
          <button  class="btn btn-primary" ng-disabled="frm2.$invalid" ng-click="createAccount(email, pass, confirm, userName)">
            Kayıt Ol
          </button>
        </p>
      </form>

      <a href="" data-toggle="modal" data-target="#myModal2" class="makePreventDefault btn btn-default pull-right">
        <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </div>
  </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt rerum ullam, sequi quisquam molestias sint repellendus natus reprehenderit, error quos, fugiat, ducimus magnam eveniet illo sed fugit sit! Autem, iusto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="scripts/jqueryMainSetting.js"></script>